<!-- Registration Form -->
<%= form_tag users_path, :class => 'form-signin' do %>
        <h2 class="form-signin-heading">Registration</h2>
        <%= text_field_tag :full_name, '', :class => 'input-block-level', :placeholder => 'Full Name' %>
        <%= text_field_tag :email, '', :class => 'input-block-level', :placeholder => 'Email Address' %>
        <%= password_field_tag :password, '', :class => 'input-block-level', :placeholder => 'Password' %>
        <%= password_field_tag :password_conf, '', :class =>
        'input-block-level', :placeholder => 'Password Confirmation' %>
        <%= submit_tag "Submit", :class => "btn btn-large btn-primary" %>
<% end %>

