<!-- nav bar for venue -->
<ul class="nav nav-tabs">
  <li> <%= link_to "Home", "/venue" %> </li>
  <li class="active"> <%= link_to "Create", "/venue/create" %> </li>
</ul>

<!-- end nav bar for venue -->

<!-- Create Venue -->
<%= form_for @venue, :html => { :class => 'form-signin' } do |f| %>
  <h2 class="form-signin-heading">Create Venue</h2>

  <%= f.text_field :name,  :class => 'input-block-level', :placeholder => 'Name' %>
  <%= f.text_field :city,  :class => 'input-block-level', :placeholder => 'City' %>
  <%= f.text_field :state, :class => 'input-block-level', :placeholder => 'State' %>

  <%= submit_tag "Submit", :class => "btn btn-large btn-primary" %>
<% end %>

