<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Qwikstubs" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <div id="topbar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar" ></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav" id="logo-wrapper"> 
            <%= link_to(image_tag('logo-tiny.png', :alt => 'logo', :id => 'logo'), root_path) %>
            <!-- <h2 class="QwikStubs" style="display: inline">QwikStubs</h2> -->
          </div>
          <ul class="nav links">
            <!-- <li><%= link_to "Login", login_path %></li> -->
              <li><%= link_to "Register", register_path  %></li>
              <!-- Look at fixing the link to these with backbone -->
              <!-- <li><%= link_to "Venues", "/#venues"  %></li> -->
	            <li><%= link_to "Events", "/#events"  %></li>
          </ul>
          <ul class='nav nav-collapse collapse pull-right' style="margin-right:15px;">
          <% if !signed_in? %>
            <li class="login-bar hidden-mobile">
              <form method="post" action="<%= sessions_path %>" class="navbar-search qs-login">
                <input name="email"type="text" class="span2" placeholder="Email Address">
                <input name="password" type="password" class="span2" placeholder="Password">
                <input type="submit" value="Login" class="login-btn btn"/>
              </form>
            </li>
          <% else %>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">User Profile</a></li>
            <li style="margin: 0px 0px;"></li>
            <li><a href="#"><i class="icon-cog"></i></a></li>
            <li style="margin-left: 0px;"></li>
            <li>
            <%= form_tag(logout_path, :method => "delete", :class => 'logout-form') do %>
              <%= submit_tag 'Logout', :id => "logout-btn" %>
            <% end %>
            </li>
            <li></li>
          <% end %>
            </ul>
        </div>
      </div>
    </div>
    <div id="main" class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    
    <footer class="visible-desktop">
      <div class="container">
        <div class="row">
            <div class="span4"></div>
            <div class="span6">
                <div id="footer-bar">
                  <h2 class="QwikStubs" style="display: inline">
                    QwikStubs
                  </h2>
                  <h4>by The Constructors</h4>
                </div>
            </div>
        <div>
      </div>
    </footer>
    
    <footer id="mobile-footer" class="visible-mobile hidden-desktop">
      <div id="footer-bar">
        <h2 class="QwikStubs" style="display: inline">
          QwikStubs
        </h2>
        <small>by The Constructors</h4>
      </div>
    </footer>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
